<!-- header -->
<div class="header">
  <!-- header container -->
  <div class="container">
    <h1><a href="/">WLP 2022</a></h1>
    <p class="subtitle">36th Workshop on (Constraint) Logic Programming</p>

    <!-- url -->
    <div class="url info-box">
      <div>
        <p>
          <a href="https://wlp2022.dfki.de" target="_blank">wlp2022.dfki.de</a>
        </p>
      </div>
    </div>
    <!-- url ends!-->

    {% if page.header-when %}
    <!-- when -->
    <div class="when info-box">
      <div class="icon-holder">
        <i class="fa fa-calendar"></i>
      </div>
      <div>
        <p><strong>When</strong></p>
        <p><span>{{page.header-when}}</span></p>
      </div>
    </div>
    <!-- when ends!-->

    <!-- where -->
    <a href="#location">
      <div class="where info-box">
        <div class="icon-holder">
          <i class="fa fa-map-marker"></i>
        </div>

        <div>
          <p><strong>Where</strong></p>
          <p><span>Trier, Germany</span><br />University of Trier</p>
        </div>
      </div>
    </a>
    <!-- where ends! -->

    <!-- recent news -->
    {% include news.html %}
    <!-- recent news ends! -->
    {% endif %}

    <div class="image-attribution" style="bottom: 50px">
      <a
        href="https://flickr.com/photos/bradhostetler/8417475625/"
        target="_blank"
        >Background Image “Trier”</a
      >
      by
      <a href="https://flickr.com/photos/bradhostetler/" target="_blank"
        >Brad Hostetler</a
      >
      (<a href="https://creativecommons.org/licenses/by/2.0/" target="_blank"
        >CC BY 2.0</a
      >)
    </div>
  </div>
  <!-- header container ends! -->
</div>
<!-- header ends! -->
