<div class="event-info">
  <div>
    <h4>
      Two Programs, one Distribution? - On Distinguishing Structures of
      Probabilistic Logic Programs
    </h4>
    <p class="speaker">
      <strong
        ><a
          href="https://www.pms.ifi.lmu.de/mitarbeiter/derzeitige/kilian-rueckschloss/"
          target="_blank"
          >Kilian Rueckschloss</a
        ></strong
      >
      and
      <strong
        ><a
          href="https://www.pms.ifi.lmu.de/mitarbeiter/derzeitige/felix-weitkaemper/"
          target="_blank"
          >Felix Weitkämper</a
        ></strong
      ><br />
      LMU Munich
    </p>

    <p>
      We present a criterion for two structures of probabilistic logic programs,
      i.e.~programs with unspecified probabilities, to induce different sets of
      distributions. To this end we associate to each program structure a
      datalog program, which we call the Pearl identifier. We then obtain that
      faithfully indistinguishable program structures yield equivalent Pearl
      identifiers. Moreover, we argue that the notion of faithful
      indistinguishability is sufficiently close to the notion of two program
      structures inducing the same set of distributions. Hence, we reduce our
      initial problem to the equivalence of datalog programs, a semi-decidable
      problem.
    </p>

    <ul class="keywords">
      <li>Probabilistic Logic Programming</li>
      <li>Equivalence of Probabilistic Logic Programs</li>
      <li>Faithful Indistinguishability</li>
      <li>Markov Equivalence</li>
      <li>Causal Structure Discovery</li>
    </ul>
  </div>
</div>
