<div class="event-info">
  <div>
    <h4>Microlog Abstract Execution and State Enumeration</h4>
    <p class="speaker">
      <strong
        ><a href="https://dbs.informatik.uni-halle.de/wenzel/" target="_blank"
          >Mario Wenzel</a
        ></strong
      ><br />
      University of Halle
    </p>

    <p>
      In this paper we describe a method of abstract execution for Microlog
      programs by attaching conditions to derived facts. This method is used to
      enumerate the possible state space of a Microlog program. The set of
      states is reduced by considering return values from the environment as
      abstract memory positions, possibly collapsing an untenable number of
      states to just a few.<br />
      Microlog is a deductive database language with a strong logic foundation
      based on Datalog extended with a representation of time and calls to
      external functions that may be used to control sensors and actors.
    </p>

    <ul class="keywords">
      <li>Datalog</li>
      <li>Logic Programming</li>
      <li>Microlog</li>
      <li>Finite State Machines</li>
      <li>Termination</li>
    </ul>
  </div>
</div>
