<div class="event-info">
  <div>
    <h4>
      Mutating Sample Solutions to Improve Prolog Exercise Tasks and Their Test
      Suites
    </h4>
    <p class="speaker">
      Ivan Khu Tanujaya,
      <strong
        ><a href="https://www.uni-due.de/fmi/voigtlaender_en" target="_blank"
          >Janis Voigtländer</a
        ></strong
      >,
      and Oliver Westphal
      <br />
      University of Duisburg-Essen
    </p>

    <p>
      We report on a tool for analyzing and adapting test suites for Prolog in
      an educational setting. The key idea is to mutate a known-correct sample
      solution in order to "simulate" possible student mistakes, and use that to
      "harden" the test suite that an e-learning system uses for judging
      submissions and giving feedback.
    </p>

    <ul class="keywords">
      <li>Prolog</li>
      <li>Teaching</li>
      <li>Testing</li>
    </ul>
  </div>
</div>
